# KST marlin_compat macro collection v0.2
# Upload this file to your config directory
# Add line
# [include marlin_compat.cfg]
# Various macros to for the ability to print gcode made for marlin firmware.
# In addition, when printing, you can slow down the model's fans using the COOL_SLOW and COOL_FULL commands.
# 

[gcode_macro M420]
description: Load the current mesh
gcode:
  {% if printer["gcode_macro LOAD_MESH"] is defined %}
        LOAD_MESH
  {% else %}
        BED_MESH_PROFILE LOAD=default
  {% endif %}

[gcode_macro M900]
description: Set Pressure Advance
gcode:
  {% if 'K' in params %}
    {% if 'E' in params %}
      SET_PRESSURE_ADVANCE EXTRUDER={params.E} ADVANCE={params.K}
    {% else %}
      SET_PRESSURE_ADVANCE ADVANCE={params.K}
    {% endif %}
  {% endif %}

[gcode_macro M600]
description: Filament change
gcode:
  # FILAMENT_CHANGE
  {% if printer["gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL"] is defined %} # Check if fluidd macros included
        PAUSE X=0 Y=0 Z_MIN=20
  {% else %}
        PAUSE
  {% endif %}

[gcode_macro M601]
gcode:
    PAUSE

[gcode_macro M106]
description: Set part model cooler speed
variable_fullspeed: True
variable_slow_factor: 0.8
rename_existing: M106.1
gcode:
  {% set speed = params.S|default(0)|int %}
  {% set slow_factor = printer["gcode_macro M106"].slow_factor %}
  {% if printer["gcode_macro M106"].fullspeed|lower == 'true' %}
    M106.1 S{speed}
  {% else %}
    {% set new_speed = (speed * slow_factor)|round|int %}
    M106.1 S{new_speed}
  {% endif %}

[gcode_macro COOL_FULL]
description: Set full part model cooler speed
gcode:
  SET_GCODE_VARIABLE MACRO=M106 VARIABLE=fullspeed VALUE=True
  {% set slow_factor = printer["gcode_macro M106"].slow_factor %}
  {% if printer.fan.speed > 0 %}
    {% set new_speed = (printer.fan.speed / slow_factor * 255)|round|int %}
    {% if new_speed > 255 %}
      {% set new_speed = 255 %}
    {% endif %}
    M106.1 S{new_speed}
  {% endif %}

[gcode_macro COOL_SLOW]
description: Set slow part model cooler speed
gcode:
  SET_GCODE_VARIABLE MACRO=M106 VARIABLE=fullspeed VALUE=False
  {% set slow_factor = printer["gcode_macro M106"].slow_factor %}
  {% if printer.fan.speed > 0 %}
    {% set new_speed = (printer.fan.speed * slow_factor * 255)|round|int %}
    M106.1 S{new_speed}
  {% endif %}

[gcode_macro M109]
description: Heat extruder
rename_existing: M109.1
gcode:
  {% if 'R' in params %}
    M109.1 S{params.R}
  {% endif %}  
  {% if 'S' in params %}
    {% set s = params.S|float %}
    {% if printer.extruder.temperature|float < s %}
      M109.1 {rawparams}
    {% else %}
      M104 {rawparams}
    {% endif %}
  {% endif %}  

[gcode_macro M204]
description: Set acceleration
variable_enabled: True
rename_existing: M204.1
gcode:
  {% if printer["gcode_macro M204"].enabled|lower == 'true' %}
    {% set f = params.F|default(0.5)|float %}

    {% if 'S' in params %}
      {% set s = params.S|float %}
      SET_VELOCITY_LIMIT ACCEL={s} ACCEL_TO_DECEL={ s * f }
    {% else %}
      {% if 'P' in params %}
        {% set p = params.P|float %}
        {% if 'T' in params %}
          {% set t = params.T|float %}
          {% if p < t %}
            SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
          {% else %}
            SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
          {% endif %}
        {% else %}
          SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
        {% endif %}
      {% elif 'T' in params %}
        {% set t = params.T|float %}
        SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
      {% endif %}
    {% endif %}  
  {% endif %}  

[gcode_macro M204_ENABLE]
description: Enable seting acceleration with M204
gcode:
  SET_GCODE_VARIABLE MACRO=M204 VARIABLE=enabled VALUE=True

[gcode_macro M204_DISABLE]
description: Disable seting acceleration with M204
gcode:
  SET_GCODE_VARIABLE MACRO=M204 VARIABLE=enabled VALUE=False

###################################################################################
# Macro exclude object from https://github.com/Klipper3d/klipper/blob/master/config/sample-macros.cfg
###################################################################################
[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped
  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}

###################################################################################
# Macro from https://flyingbear.info/firmware/klipper/klipper_macros
###################################################################################
[gcode_macro G27]                                                               # Marlin Compatibility
gcode:
  PARK

[gcode_macro M76]                                                               # Marlin Compatibility
gcode:
  PAUSE

[gcode_macro M125]                                                              # Marlin Compatibility
gcode:
  PARK

[gcode_macro M300]                                                              # Marlin Compatibility
gcode:
  #BEEP

[gcode_macro M701]                                                              # Marlin Compatibility
gcode:
    FILAMENT_LOAD

[gcode_macro M702]                                                              # Marlin Compatibility
gcode:
    FILAMENT_UNLOAD
